@import "../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss";

body {
  padding-top: 40px;
}

.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}

input[type="radio"], input[type="checkbox"] {
  margin-top: -10px;
}

footer {
  opacity: 0.2;
}

footer:hover {
  opacity: 1.0;
}

.modal-footer .btn-group {
  padding-left: 0;
  padding-right: 0;
}