{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}Redirect{% endblock %}

{% block content %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
