{% extends 'MewesKWebRedirectorBundle::base.html.twig' %}

{% block headline %}New redirect{% endblock %}

{% block content %}
    {{ form(form) }}

    <a href="{{ path('admin') }}" type="button" class="btn btn-default">Back to the list</a>
{% endblock %}
